.login{
    position: relative;
    height: 100vh;
    background:url('https://assets.nflxext.com/ffe/siteui/vlv3/f1c3c4eb-2fea-42c7-9ebd-1c093bd8a69d/9c9af369-7a8c-4c8f-8e4a-d6c9d655f713/IN-en-20230403-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
    background-size: cover;
}
.login__logo{
    width: 148px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 200px;
}
.LanguageSelect{
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    top: 20px;
    right: 325px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 5px;
    font-weight: bolder;
}
.login__button{
    width: 100px;
    height: 40px;
    background-color: #fc0a0a;
    padding: 10px 20px;
    color: #fff;
    border: 0;
    text-transform: capitalize;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 200px;
    font-size: 15px;
    font-weight: bold;
}
.login__body{
    color: #fff;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
}

.login__body h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.login__body h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    /* font-weight: 400; */
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.login__body h3{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.login__body .login__form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__body .login__form input{
    width: 375px;
    height: 55px;
    padding: 0px 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);

}
.login__body .login__form input::placeholder{
    color: #fff;
}
.login__body .login__form button{
    height: 55px;
    width: 200px;
    font-weight: bolder;
    border: 0;
    padding: 0px 10px;
    background-color: #fc0a0a;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.login__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
    );
}